<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
<<<<<<< HEAD
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title></title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
	<script src="/assets/js/customers.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
</head>

<body>
	<div class="mainHeaderWrapper">
		<a class='dropdown-trigger' id="userButton" href='#' data-target='dropdown1'></a>
		<div id="mainPageCenterText" class="x classy">Paradigm</div>
	</div>

	<div class="navBar">
		<div class="navBarTextWrapper">
			<a href="/" id="navBarText1" class="x">Main Page</a>
		</div>
	</div>
	{{{ body }}}
</body>

</html>
=======
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title></title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/customer.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
>>>>>>> bee9e7aca79315d993239a8707019631adb7bdc0
