<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title></title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Monoton|Stalinist+One" rel="stylesheet">

</head>

<body>

	<div class="mainHeaderWrapper">
		<a class='dropdown-trigger' id="userButton" href='#' data-target='dropdown1'></a>
		<div id="mainPageCenterText" class="x classy">Paradigm</div>
	</div>

	<div class="navBar">
		<nav>
			<div class="nav-wrapper navBar">
				<a href="/" id="navBarText1" class="brand-logo center x">News Feed</a>
			</div>
		</nav>
	</div>


	<div class="balls">{{{ body }}}</div>



	<div id="whiteSpace"></div>

<script src="/assets/js/mainPageLogic.js"></script>
</body>

</html>