<div class="mainHeaderWrapper">
    <a class='dropdown-trigger' id="userButton" href='#' data-target='dropdown1'></a>
    <div id="mainPageCenterText" class="x classy">Paradigm</div>
</div>


<div class="navBar">
    <div class="navBarTextWrapper">
        <a href="/" id="navBarText1" class="x">Main Page</a>
    </div>
</div>


<div class="articleWrapper">
    <div class="row">
        <div class="col s4"></div>
        <img class="col s4" src="" id="articleImg">
        <div class="col s4"></div>

    </div>
    <div class="row">
        <div class="col s2"></div>
        <h1 class="col s8" id="articleHeader"></h1>
        <div class="col s2"></div>

    </div>

    <div class="row">
        <div class="col s8"></div>
        <p class="col s2" id="author"></p>
        <div class="col s2"></div>

    </div>

    <div class="row">
        <div class="col s2"></div>
        <div class="col s8">{{thing}}</div>
        <div class="col s2"></div>
    </div>


</div>





















<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
    <li>
        <a href="#!">Submit A Post</a>
    </li>
    <li>
        <a href="#!">Your Articles</a>
    </li>
    <li>
        <a href="#!">Bookmarks</a>
    </li>
    <li>
        <a href="#!">Edit Account</a>
    </li>
</ul>


<div id="whiteSpace"></div>


{{!--
<script>

    $.get("/articlesUrl", thing,
        function (thing) {
            console.log(thing);

        });

</script> --}}