<div class="row catagories">
  <a href="/posting">
    <div class="col s2 x link offset-s4 bLink hoverable">Post New Article</div>
  </a>
  <a href="/posts">
    <div class="col s2 x link bLink hoverable">Manage Articles</div>
  </a>
</div>

<div class="row">
    <div class="col s4"></div>
    <div id="postingHeader" class="col s4 classy">Your Bookmarks</div>
    <div class="col s4"></div>

</div>

<div class="row">
    <div class="col s8 offset-s2" style="border-bottom: double;">
        <img src="https://via.placeholder.com/210x150" style="float: left; margin: 0px 10px 10px 0px">
        <h5></h5>
        <p></p>
    </div>
</div>

