<div class="row catagories">
  <a href="/posting">
    <div class="col s2 x link offset-s4 bLink hoverable">Post New Article</div>
  </a>
  <a href="/posts">
    <div class="col s2 x link bLink hoverable">Manage Articles</div>
  </a>
</div>

<div class="row">
    <div class="col s4"></div>
    <div id="postingHeader" class="col s4 classy">Your Bookmarks</div>
    <div class="col s4"></div>

</div>


<div class="container">
<div class="login-page">
  
     <input value="" id="input_text2" class="login-user" type="text" data-length="50">
    <label for="input_text">Username</label>
  
  
     <input value="" id="input_text3" class="login-user" type="text" data-length="50">
    <label for="input_text">Password</label>
  
</div>


<div id="singlebutton" class="col-md-4 text-center">
<button class="btn btn-primary" type="submit">Login</button>

</div>
</div>

{{!-- <div class="row">
    <div class="col s8 offset-s2" style="border-bottom: double;">
        <img src="https://via.placeholder.com/210x150" style="float: left; margin: 0px 10px 10px 0px">
        <h5>This is a title for an article that someone wrote</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non est eget risus luctus sollicitudin. Mauris vestibulum
            ut ante at convallis. In semper vulputate leo, a suscipit nunc auctor ornare. Maecenas hendrerit pulvinar vehicula.</p>
    </div>
</div>

<div class="row">
    <div class="col s8 offset-s2" style="border-bottom: double;">
        <img src="https://via.placeholder.com/210x150" style="float: left; margin: 0px 10px 10px 0px">
        <h5>This is a title for an article that someone wrote</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non est eget risus luctus sollicitudin. Mauris vestibulum
            ut ante at convallis. In semper vulputate leo, a suscipit nunc auctor ornare. Maecenas hendrerit pulvinar vehicula.</p>
    </div>
</div>

<div class="row">
    <div class="col s8 offset-s2" style="border-bottom: double;">
        <img src="https://via.placeholder.com/210x150" style="float: left; margin: 0px 10px 10px 0px">
        <h5>This is a title for an article that someone wrote</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non est eget risus luctus sollicitudin. Mauris vestibulum
            ut ante at convallis. In semper vulputate leo, a suscipit nunc auctor ornare. Maecenas hendrerit pulvinar vehicula.</p>
    </div>
</div>

<div class="row">
    <div class="col s8 offset-s2" style="border-bottom: double;">
        <img src="https://via.placeholder.com/210x150" style="float: left; margin: 0px 10px 10px 0px">
        <h5>This is a title for an article that someone wrote</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non est eget risus luctus sollicitudin. Mauris vestibulum
            ut ante at convallis. In semper vulputate leo, a suscipit nunc auctor ornare. Maecenas hendrerit pulvinar vehicula.</p>
    </div>
</div> --}}