<div class="container text2">
    <div class="row">
        <div class="col-sm-6 col-lg-6 justify-content-center">
            <form action="/createUser">
                <div>
                    <label>Username/email:</label>
                    <input id="createEmail" type="text" name="email" placeholder="email"/>
                </div>
                <div>
                    <label>Password:</label>
                    <input id="createPassword" type="password" name="password" placeholder="Password"/>
                </div>
                <div>
                    <label>First Name:</label>
                    <input id="createFirstName" type="text" name="firstName" placeholder="Firstt Name"/>
                </div>
                <div>
                    <label>Last Name:</label>
                    <input id="createLastName" type="text" name="lastName" placeholder="Last Name"/>
                </div>     
                    
               
            </form>

            <button id="addUser" />Log In</button>
        </div>
    </div>
</div>