<div class="mainHeaderWrapper">
    <a class='dropdown-trigger' id="userButton" href='#' data-target='dropdown1'></a>
    <div id="mainPageCenterText" class="x classy">Paradigm</div>
</div>

<div class="navBar">
    <nav>
        <div class="nav-wrapper navBar">
            <a href="/" id="navBarText1" class="brand-logo center x">News Feed</a>

        </div>
    </nav>
    {{!--
    <div class="navBarTextWrapper">
        <a href="/" id="navBarText1" class="x">Home Page</a>
    </div> --}}
</div>
<div class="container">
    
    <div class="row catagories">
        <div class="col s4 m2 l2">World</div>
        <div class="col s4 m2 l2">Local</div>
        <div class="col s4 m2 l2">Business</div>
        <div class="col s4 m2 l2">Finance</div>
        <div class="col s4 m2 l2">Tech</div>
        <div class="col s4 m2 l2">Politics</div>
        <div class="col s4 m2 l2">Science</div>
        <div class="col s4 m2 l2">Health</div>
        <div class="col s4 m2 l2">Outdoors</div>
        <div class="col s4 m2 l2">Sports</div>
        <div class="col s4 m2 l2">Other</div>
        <div class="col s4 m2 l2">For Fun</div>
    </div>
    <div class="row">
        <div id="sectionOne" class="col s12 m4 l5">

        </div>
        <div id="sectionTwo" class="col s12 m4 l3">

        </div>
        <div id="sectionThree" class="col s12 m4 l4">

        </div>
    </div>
    <div class="row">
        <div id="nytStuff" class="col s12 m7 l7">

        </div>
        <div id="nytStuffTest" class="col s12 m5 l5">

        </div>
    </div>
</div>

<ul id='dropdown1' class='dropdown-content'>
    <li>
        <a href="#!">Submit A Post</a>
    </li>
    <li>
        <a href="#!">Your Articles</a>
    </li>
    <li>
        <a href="#!">Bookmarks</a>
    </li>
    <li>
        <a href="#!">Edit Account</a>
    </li>
</ul>