<div class="mainHeaderWrapper">
    <a class='dropdown-trigger' id="userButton" href='#' data-target='dropdown1'></a>
    <div id="mainPageCenterText" class="x classy">Paradigm</div>
</div>

<div class="navBar">
    <div class="navBarTextWrapper">
        <a href="/" id="navBarText1" class="x">Main Page</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s1"></div>
        <div class="col s1"></div>
        <div class="col s1"></div>
        <div class="col s1"></div>
        <div class="col s1"></div>
        <div class="col s1"></div>
        <div class="col s1"></div>
        <div class="col s1"></div>
        <div class="col s1"></div>
        <div class="col s1"></div>
        <div class="col s1"></div>
        <div class="col s1"></div>
    </div>
     <div class="row sectionOne">
        <div class="col s5">
            <a>
            <div class="sectionOneColOne">
                <div class="topLeftImage"></div>
                <h4 class="topLeftTitle">Make Your Daughter Practice Math. She’ll Thank You Later.</h4>
                <div class="topLeftText">The way we teach math in America hurts all students, but it may be hurting girls the most.</div>
            </div>
            </a>
        </div>
        <div class="col s3">
            <div class="sectionOneColTwo">
                <div class="topCenterImage"></div>
                <h5 class="topCenterTitle">New Alzheimer’s Drug Slows Memory Loss in Early Trial Results</h5>
                <div class="topCenterText">The drug may be the first to successfully attack both the brain changes and the symptoms of Alzheimer’s. Further research will be needed to know if it’s truly effective.</div>
            </div>
        </div>
        <div class="col s4">
            <div class="sectionOneColThree">
                <div class="topRightImage"></div>
                <h4 class="topRightTitle">The Water Wars of Arizona</h4>
                <div class="topRightText">Attracted by lax regulations, industrial agriculture has descended on a remote valley, depleting its aquifer — leaving many residents with no water at all.</div>
            </div>
        </div>
    </div>
    <div id="nytStuff" class="row"></div>
</div>
</a>


<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
    <li>
        <a href="#!">Submit A Post</a>
    </li>
    <li>
        <a href="#!">Your Articles</a>
    </li>
    <li>
        <a href="#!">Bookmarks</a>
    </li>
    <li>
        <a href="#!">Edit Account</a>
    </li>
</ul>


<div id="whiteSpace"></div>