<div class="mainHeaderWrapper">
    <a class='dropdown-trigger' id="userButton" href='#' data-target='dropdown1'></a>
    <div id="mainPageCenterText" class="x classy">Paradigm</div>
</div>

<div class="navBar">
    <div class="navBarTextWrapper">
        <a href="/" id="navBarText1" class="x">Main Page</a>
    </div>
</div>




<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
    <li>
        <a href="#!">Submit A Post</a>
    </li>
    <li>
        <a href="#!">Your Articles</a>
    </li>
    <li>
        <a href="#!">Bookmarks</a>
    </li>
    <li>
        <a href="#!">Edit Account</a>
    </li>
</ul>


<div id="whiteSpace"></div>