<div class="login-page">
  
     <input value="" id="input_text2" class="login-user" type="text" data-length="50">
    <label for="input_text">Username</label>
  
  
     <input value="" id="input_text3" class="login-user" type="text" data-length="50">
    <label for="input_text">Password</label>
  
</div>


<div id="singlebutton" class="col-md-4 text-center">
<button class="btn btn-primary" type="submit">Login</button>

</div>