    <div class="row catagories">
        <div class="col s4 m2 l2"> </div>
        <div class="col s4 m2 l2"></div>
        <a href="/posting">
        <div class="col s4 m2 l2 x link">Post A New Article</div>
        </a>
        <a href="/userarticleslist">
        <div class="col s4 m2 l2 x link">Manage Your Articles</div>
        </a>
        <div class="col s4 m2 l2"></div>
        <div class="col s4 m2 l2"></div>
  
    </div>

  


<div class="row">
     <div class="col s4"></div>
    <div id="postingHeader" class="col s4 classy">Post An Idea Worth Sharing</div>
     <div class="col s4"></div>

</div>


           <div class="row">
               <div class="col s4"></div>
          <div class="input-field col s4">
            <input  value="" id="input_text" class="postingArticleTitle" type="text" data-length="120">
            <label for="input_text">Article Title</label>
          </div>
           <div class="col s4"></div>
        </div>


         <div class="row">
             <div class="col s4"></div>
          <div class="input-field col s4">
            <input  value="" id="input_text" class="postingArticleAuthor" type="text" data-length="60">
            <label for="input_text">Your Author Name</label>
          </div>
          <div class="col s4"></div>
        </div>

          <div class="row">
               <div class="col s2"></div>
    <div class="input-field col s8">
      <input value="" id="first_name2" type="text" class="validate">
      <label class="active" for="first_name2">Link For An Article Image</label>
    </div>
    <div class="col s2"></div>
  </div>

    <div class="row">
           <div class="col s1"></div>
    <form class="col s10">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Write something worth reading</label>
        </div>
      </div>
    </form>
       <div class="col s1"></div>
  </div>

<div class="center-align">

  <a class="waves-effect waves-light btn-large">Submit</a>
</div>
