<div class="row catagories">
<<<<<<< HEAD
  <a href="/posts">
    <div class="col s2 x link offset-s4 bLink hoverable">Manage Articles</div>
  </a>
  <a href="/bookmarks">
=======
  <a class="posts">
    <div class="col s2 x link offset-s4 bLink hoverable">Manage Articles</div>
  </a>
  <a class="bookmarks">
>>>>>>> 3ebe50734b603e9380fa4a4479dc9f32c225f4c7
    <div class="col s2 x link bLink hoverable">Manage Bookmarks</div>
  </a>
</div>




<div class="row">
  <div class="col s4"></div>
  <div id="postingHeader" class="col s4 classy">Post An Idea Worth Sharing</div>
  <div class="col s4"></div>
</div>


<div class="row">
  <div class="col s4"></div>
  <div class="input-field col s4">
    <input value="" id="input_text" class="postingArticleTitle" type="text" data-length="120">
    <label for="input_text">Article Title</label>
  </div>
  <div class="col s4"></div>
</div>

<div class="row">
  <div class="col s4"></div>
  <div class="input-field col s4">
    <input value="" id="input_text" class="postingArticleSnippet" type="text" data-length="120">
    <label for="input_text">Article Snippet</label>
  </div>
  <div class="col s4"></div>
</div>


<div class="row">
  <div class="col s4"></div>
  <div class="input-field col s4">
    <input value="" id="input_text" class="postingArticleAuthor" type="text" data-length="60">
    <label for="input_text">Your Author Name</label>
  </div>
  <div class="col s4"></div>
</div>

<div class="row">
  <div class="col s2"></div>
  <div class="input-field col s8">
    <input value="" id="first_name2" type="text" class="postingArticleImg">
    <label class="active" for="first_name2">Link For An Article Image</label>
  </div>
  <div class="col s2"></div>
</div>

<div class="row">
  <div class="col s1"></div>
  <form class="col s10">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="postArticleBody materialize-textarea"></textarea>
        <label for="textarea1">Write something worth reading</label>
      </div>
    </div>
  </form>
  <div class="col s1"></div>
</div>

<div class="center-align">

<<<<<<< HEAD
  <a class="waves-effect waves-light btn-large posting-button">Submit</a>
=======
  <a class="waves-effect waves-light btn-large posting-button posts">Submit</a>
>>>>>>> 3ebe50734b603e9380fa4a4479dc9f32c225f4c7
</div>

<script src="/assets/js/postingLogic.js"></script>