<div class="row catagories">
    <a href="/posts">
        <div class="col s2 x link offset-s4 bLink hoverable">USER</div>
    </a>
    <a href="/bookmarks">
        <div class="col s2 x link bLink hoverable">SETTINGS</div>
    </a>
</div>

<div class="row">
    <div class="col s4"></div>
    <div id="postingHeader" class="col s4 classy">Account Settings</div>
    <div class="col s4"></div>

</div>