<div class="articleWrapper">
    <div class="row">
        <div class="col s4"></div>
        <img class="col s4" src="{{obj}}" id="articleImg">
        <div class="col s4"></div>
    </div>
    <div class="row">
        <div class="col s2"></div>
        <h1 class="col s8" id="articleHeader">{{obj}}</h1>
        <div class="col s2"></div>
    </div>
    <div class="row">
        <div class="col s8"></div>
        <p class="col s2" id="author">{{obj}}</p>
        <div class="col s2"></div>
    </div>
    <div class="row">
        <div class="col s2"></div>
        <div class="col s8 articleText">{{obj}}</div>
        <div class="col s2"></div>
    </div>
</div>

