<div class="row catagories">
  <a href="/userloginpage">
    <div class="col s2 x link offset-s4 bLink hoverable">Login</div>
  </a>
  <a href="/usercreatepage">
    <div class="col s2 x link bLink hoverable">Create A New User Account</div>
  </a>
</div>


<div class="row">
    <div class="col s4"></div>
    <div id="postingHeader" class="col s4 classy">Your First Step To Creating Amazing Content</div>
    <div class="col s4"></div>

</div>


<div class="row">
    <div class="col s4"></div>
  <div class="input-field col s2">
    <input value="" id="input_text" class="creatingUserFirstName" type="text" data-length="15">
    <label for="input_text">First Name</label>
  </div>
    <div class="input-field col s2">
    <input value="" id="input_text" class="creatingUserLastName" type="text" data-length="15">
    <label for="input_text">Last Name</label>
  </div>
    <div class="col s4"></div>
</div>

<div class="row">
  <div class="col s4"></div>
  <div class="input-field col s4">
    <input value="" id="input_text" class="creatingUserEmail" type="text" data-length="30">
    <label for="input_text">Email</label>
  </div>
  <div class="col s4"></div>
</div>

<div class="row">
  <div class="col s4"></div>
  <div class="input-field col s4">
    <input value="" id="input_text" class="creatingUserPassword" type="text" data-length="30">
    <label for="input_text">Password</label>
  </div>
  <div class="col s4"></div>
</div>


<div class="center-align">

  <a class="waves-effect waves-light btn-large creating-user-button">Submit</a>
</div>


<script src="/assets/js/userCreatePage.js"></script>


